In [65]:
import pandas as pd
import numpy as np

In [66]:
filename1 = 'propertyAttribute.csv'
filename2 = 'property.csv'

In [67]:
df_proattr = pd.read_csv(filename1)
df_pro = pd.read_csv(filename2)
df_proattr.fillna('')

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>range</th>
      <th>domain</th>
      <th>attributes/0</th>
      <th>attributes/1</th>
      <th>id</th>
      <th>pos/0</th>
      <th>pos/1</th>
      <th>iri</th>
      <th>baseIri</th>
      <th>label/IRI-based</th>
      <th>label/undefined</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>29</td>
      <td>28</td>
      <td>anonymous</td>
      <td>object</td>
      <td>27</td>
      <td>1924.79</td>
      <td>-17.2914</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>1</th>
      <td>32</td>
      <td>31</td>
      <td>anonymous</td>
      <td>object</td>
      <td>30</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>32</td>
      <td>34</td>
      <td>anonymous</td>
      <td>object</td>
      <td>33</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>3</th>
      <td>37</td>
      <td>36</td>
      <td>anonymous</td>
      <td>object</td>
      <td>35</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>4</th>
      <td>37</td>
      <td>39</td>
      <td>anonymous</td>
      <td>object</td>
      <td>38</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>5</th>
      <td>29</td>
      <td>41</td>
      <td>anonymous</td>
      <td>object</td>
      <td>40</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>6</th>
      <td>29</td>
      <td>43</td>
      <td>anonymous</td>
      <td>object</td>
      <td>42</td>
      <td>1970.35</td>
      <td>69.0856</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>7</th>
      <td>29</td>
      <td>45</td>
      <td>anonymous</td>
      <td>object</td>
      <td>44</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>8</th>
      <td>29</td>
      <td>47</td>
      <td>anonymous</td>
      <td>object</td>
      <td>46</td>
      <td>1928.82</td>
      <td>-325.826</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>9</th>
      <td>29</td>
      <td>49</td>
      <td>anonymous</td>
      <td>object</td>
      <td>48</td>
      <td>1979.43</td>
      <td>-326.538</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>10</th>
      <td>14</td>
      <td>43</td>
      <td>external</td>
      <td>object</td>
      <td>50</td>
      <td>1695.47</td>
      <td>475.517</td>
      <td>http://www.hozo.jp/rdf/has_previous</td>
      <td>http://www.hozo.jp/rdf</td>
      <td>has_previous</td>
      <td>has_previous</td>
    </tr>
    <tr>
      <th>11</th>
      <td>9</td>
      <td>52</td>
      <td>external</td>
      <td>object</td>
      <td>51</td>
      <td>1148.5</td>
      <td>969.574</td>
      <td>http://www.hozo.jp/rdf/has_belongs</td>
      <td>http://www.hozo.jp/rdf</td>
      <td>has_belongs</td>
      <td>has_belongs</td>
    </tr>
    <tr>
      <th>12</th>
      <td>1</td>
      <td>58</td>
      <td>anonymous</td>
      <td>object</td>
      <td>57</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>13</th>
      <td>1</td>
      <td>60</td>
      <td>anonymous</td>
      <td>object</td>
      <td>59</td>
      <td>1145.01</td>
      <td>1693.71</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>14</th>
      <td>20</td>
      <td>62</td>
      <td>anonymous</td>
      <td>object</td>
      <td>61</td>
      <td>1237.15</td>
      <td>-101.435</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>15</th>
      <td>20</td>
      <td>64</td>
      <td>anonymous</td>
      <td>object</td>
      <td>63</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>16</th>
      <td>9</td>
      <td>14</td>
      <td>external</td>
      <td>object</td>
      <td>72</td>
      <td>1201.77</td>
      <td>800.18</td>
      <td>http://www.hozo.jp/rdf/has_require</td>
      <td>http://www.hozo.jp/rdf</td>
      <td>has_require</td>
      <td>has_require</td>
    </tr>
    <tr>
      <th>17</th>
      <td>5</td>
      <td>14</td>
      <td>external</td>
      <td>object</td>
      <td>76</td>
      <td>1544.9</td>
      <td>909.055</td>
      <td>http://www.hozo.jp/rdf/has_enjoy</td>
      <td>http://www.hozo.jp/rdf</td>
      <td>has_enjoy</td>
      <td>has_enjoy</td>
    </tr>
    <tr>
      <th>18</th>
      <td>9</td>
      <td>14</td>
      <td>external</td>
      <td>object</td>
      <td>77</td>
      <td>1222.11</td>
      <td>825.084</td>
      <td>http://www.hozo.jp/rdf/has_result</td>
      <td>http://www.hozo.jp/rdf</td>
      <td>has_result</td>
      <td>has_result</td>
    </tr>
    <tr>
      <th>19</th>
      <td>66</td>
      <td>52</td>
      <td>external</td>
      <td>object</td>
      <td>90</td>
      <td>1536.7</td>
      <td>973.833</td>
      <td>http://www.hozo.jp/rdf/has_have_context</td>
      <td>http://www.hozo.jp/rdf</td>
      <td>has_have_context</td>
      <td>has_have context</td>
    </tr>
    <tr>
      <th>20</th>
      <td>14</td>
      <td>43</td>
      <td>external</td>
      <td>object</td>
      <td>92</td>
      <td>1728.92</td>
      <td>503.554</td>
      <td>http://www.hozo.jp/rdf/has_next</td>
      <td>http://www.hozo.jp/rdf</td>
      <td>has_next</td>
      <td>has_next</td>
    </tr>
    <tr>
      <th>21</th>
      <td>69</td>
      <td>1</td>
      <td>external</td>
      <td>object</td>
      <td>97</td>
      <td>1314.88</td>
      <td>1366.84</td>
      <td>http://www.hozo.jp/rdf/has_location_at</td>
      <td>http://www.hozo.jp/rdf</td>
      <td>has_location_at</td>
      <td>has_location at</td>
    </tr>
    <tr>
      <th>22</th>
      <td>5</td>
      <td>1</td>
      <td>external</td>
      <td>object</td>
      <td>102</td>
      <td>1390.02</td>
      <td>1323.05</td>
      <td>http://www.hozo.jp/rdf/has_provide</td>
      <td>http://www.hozo.jp/rdf</td>
      <td>has_provide</td>
      <td>has_provide</td>
    </tr>
    <tr>
      <th>23</th>
      <td>68</td>
      <td>14</td>
      <td>external</td>
      <td>object</td>
      <td>111</td>
      <td>1321.74</td>
      <td>542.259</td>
      <td>http://www.hozo.jp/rdf/has_how_to_achieve</td>
      <td>http://www.hozo.jp/rdf</td>
      <td>has_how_to_achieve</td>
      <td>has_how to achieve</td>
    </tr>
    <tr>
      <th>24</th>
      <td>19</td>
      <td>53</td>
      <td>anonymous</td>
      <td>object</td>
      <td>112</td>
      <td>2376.32</td>
      <td>829.154</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>25</th>
      <td>17</td>
      <td>114</td>
      <td>external</td>
      <td>object</td>
      <td>113</td>
      <td>1292.99</td>
      <td>279.397</td>
      <td>http://www.hozo.jp/rdf/has_role</td>
      <td>http://www.hozo.jp/rdf</td>
      <td>has_role</td>
      <td>has_role</td>
    </tr>
    <tr>
      <th>26</th>
      <td>17</td>
      <td>28</td>
      <td>external</td>
      <td>object</td>
      <td>115</td>
      <td>1630.65</td>
      <td>288.022</td>
      <td>http://www.hozo.jp/rdf/has_larger</td>
      <td>http://www.hozo.jp/rdf</td>
      <td>has_larger</td>
      <td>has_larger</td>
    </tr>
    <tr>
      <th>27</th>
      <td>26</td>
      <td>25</td>
      <td>anonymous</td>
      <td>object</td>
      <td>116</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>28</th>
      <td>75</td>
      <td>118</td>
      <td>anonymous</td>
      <td>object</td>
      <td>117</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>29</th>
      <td>5</td>
      <td>121</td>
      <td>anonymous</td>
      <td>object</td>
      <td>120</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>100</th>
      <td>60</td>
      <td>188</td>
      <td>anonymous</td>
      <td>object</td>
      <td>212</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>101</th>
      <td>60</td>
      <td>200</td>
      <td>anonymous</td>
      <td>object</td>
      <td>213</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>102</th>
      <td>8</td>
      <td>10</td>
      <td>anonymous</td>
      <td>object</td>
      <td>215</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>103</th>
      <td>8</td>
      <td>11</td>
      <td>anonymous</td>
      <td>object</td>
      <td>216</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>104</th>
      <td>8</td>
      <td>12</td>
      <td>anonymous</td>
      <td>object</td>
      <td>217</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>105</th>
      <td>13</td>
      <td>15</td>
      <td>anonymous</td>
      <td>object</td>
      <td>218</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>106</th>
      <td>1</td>
      <td>69</td>
      <td>external</td>
      <td>object</td>
      <td>219</td>
      <td>1247.13</td>
      <td>1337.48</td>
      <td>http://www.hozo.jp/rdf/has_represent</td>
      <td>http://www.hozo.jp/rdf</td>
      <td>has_represent</td>
      <td>has_represent</td>
    </tr>
    <tr>
      <th>107</th>
      <td>13</td>
      <td>16</td>
      <td>anonymous</td>
      <td>object</td>
      <td>220</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>108</th>
      <td>107</td>
      <td>119</td>
      <td>anonymous</td>
      <td>object</td>
      <td>221</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>109</th>
      <td>107</td>
      <td>106</td>
      <td>anonymous</td>
      <td>object</td>
      <td>222</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>110</th>
      <td>214</td>
      <td>14</td>
      <td>external</td>
      <td>object</td>
      <td>223</td>
      <td>1301.55</td>
      <td>702.211</td>
      <td>http://www.hozo.jp/rdf/has_happen_at</td>
      <td>http://www.hozo.jp/rdf</td>
      <td>has_happen_at</td>
      <td>has_happen at</td>
    </tr>
    <tr>
      <th>111</th>
      <td>22</td>
      <td>109</td>
      <td>anonymous</td>
      <td>object</td>
      <td>224</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>112</th>
      <td>22</td>
      <td>152</td>
      <td>anonymous</td>
      <td>object</td>
      <td>225</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>113</th>
      <td>17</td>
      <td>28</td>
      <td>external</td>
      <td>object</td>
      <td>226</td>
      <td>1669.89</td>
      <td>319.143</td>
      <td>http://www.hozo.jp/rdf/has_smaller</td>
      <td>http://www.hozo.jp/rdf</td>
      <td>has_smaller</td>
      <td>has_smaller</td>
    </tr>
    <tr>
      <th>114</th>
      <td>22</td>
      <td>197</td>
      <td>anonymous</td>
      <td>object</td>
      <td>227</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>115</th>
      <td>22</td>
      <td>122</td>
      <td>anonymous</td>
      <td>object</td>
      <td>228</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>116</th>
      <td>18</td>
      <td>91</td>
      <td>anonymous</td>
      <td>object</td>
      <td>229</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>117</th>
      <td>18</td>
      <td>191</td>
      <td>anonymous</td>
      <td>object</td>
      <td>230</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>118</th>
      <td>22</td>
      <td>54</td>
      <td>anonymous</td>
      <td>object</td>
      <td>231</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>119</th>
      <td>62</td>
      <td>98</td>
      <td>anonymous</td>
      <td>object</td>
      <td>232</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>120</th>
      <td>18</td>
      <td>93</td>
      <td>anonymous</td>
      <td>object</td>
      <td>233</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>121</th>
      <td>18</td>
      <td>182</td>
      <td>anonymous</td>
      <td>object</td>
      <td>234</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>122</th>
      <td>14</td>
      <td>68</td>
      <td>external</td>
      <td>object</td>
      <td>235</td>
      <td>1357.84</td>
      <td>505.19</td>
      <td>http://www.hozo.jp/rdf/has_sub_activity</td>
      <td>http://www.hozo.jp/rdf</td>
      <td>has_sub_activity</td>
      <td>has_sub activity</td>
    </tr>
    <tr>
      <th>123</th>
      <td>9</td>
      <td>14</td>
      <td>external</td>
      <td>object</td>
      <td>236</td>
      <td>1238.49</td>
      <td>852.799</td>
      <td>http://www.hozo.jp/rdf/has_apply_to</td>
      <td>http://www.hozo.jp/rdf</td>
      <td>has_apply_to</td>
      <td>has_apply to</td>
    </tr>
    <tr>
      <th>124</th>
      <td>23</td>
      <td>26</td>
      <td>anonymous</td>
      <td>object</td>
      <td>237</td>
      <td>734.208</td>
      <td>225.104</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>125</th>
      <td>69</td>
      <td>66</td>
      <td>external</td>
      <td>object</td>
      <td>238</td>
      <td>1530.21</td>
      <td>1059.51</td>
      <td>http://www.hozo.jp/rdf/has_has_location</td>
      <td>http://www.hozo.jp/rdf</td>
      <td>has_has_location</td>
      <td>has_has_location</td>
    </tr>
    <tr>
      <th>126</th>
      <td>83</td>
      <td>186</td>
      <td>anonymous</td>
      <td>object</td>
      <td>239</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>127</th>
      <td>83</td>
      <td>82</td>
      <td>anonymous</td>
      <td>object</td>
      <td>240</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>128</th>
      <td>23</td>
      <td>96</td>
      <td>anonymous</td>
      <td>object</td>
      <td>241</td>
      <td>828.463</td>
      <td>121.377</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>129</th>
      <td>83</td>
      <td>108</td>
      <td>anonymous</td>
      <td>object</td>
      <td>242</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
<p>130 rows × 11 columns</p>
</div>

In [68]:
df_pro.sort_values('id')
df_proattr.sort_values('id')
df_proattr.columns = df_proattr.columns.str.lower().str.replace('/', '_')
df_proattr.columns = df_proattr.columns.str.lower().str.replace('-', '_')
df_proattr.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>range</th>
      <th>domain</th>
      <th>attributes_0</th>
      <th>attributes_1</th>
      <th>id</th>
      <th>pos_0</th>
      <th>pos_1</th>
      <th>iri</th>
      <th>baseiri</th>
      <th>label_iri_based</th>
      <th>label_undefined</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>29</td>
      <td>28</td>
      <td>anonymous</td>
      <td>object</td>
      <td>27</td>
      <td>1924.789527</td>
      <td>-17.291416</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>32</td>
      <td>31</td>
      <td>anonymous</td>
      <td>object</td>
      <td>30</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2</th>
      <td>32</td>
      <td>34</td>
      <td>anonymous</td>
      <td>object</td>
      <td>33</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>3</th>
      <td>37</td>
      <td>36</td>
      <td>anonymous</td>
      <td>object</td>
      <td>35</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4</th>
      <td>37</td>
      <td>39</td>
      <td>anonymous</td>
      <td>object</td>
      <td>38</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
</div>

In [69]:
merge = lambda row: 'rdfsSubClassOf' if row.label_iri_based == '' else row
df_proattr["label_iri_based"] = df_proattr.apply(merge, axis=1)
df_proattr.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>range</th>
      <th>domain</th>
      <th>attributes_0</th>
      <th>attributes_1</th>
      <th>id</th>
      <th>pos_0</th>
      <th>pos_1</th>
      <th>iri</th>
      <th>baseiri</th>
      <th>label_iri_based</th>
      <th>label_undefined</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>29</td>
      <td>28</td>
      <td>anonymous</td>
      <td>object</td>
      <td>27</td>
      <td>1924.789527</td>
      <td>-17.291416</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>29</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>32</td>
      <td>31</td>
      <td>anonymous</td>
      <td>object</td>
      <td>30</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>32</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2</th>
      <td>32</td>
      <td>34</td>
      <td>anonymous</td>
      <td>object</td>
      <td>33</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>32</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>3</th>
      <td>37</td>
      <td>36</td>
      <td>anonymous</td>
      <td>object</td>
      <td>35</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>37</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4</th>
      <td>37</td>
      <td>39</td>
      <td>anonymous</td>
      <td>object</td>
      <td>38</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>37</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
</div>

In [70]:
import pandas as pd
filename3 = 'classAttribute.csv'
df_class = pd.read_csv(filename3)
df_class.columns = df_class.columns.str.lower().str.replace('/', '_')
df_class.columns = df_class.columns.str.lower().str.replace('-', '_')
df_class.sort_values('id')
df_class = df_class[df_class.attributes_1.str.contains("anonymous") == False]
df_class.fillna('')
#df_class.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>iri</th>
      <th>baseiri</th>
      <th>instances</th>
      <th>label_iri_based</th>
      <th>label_undefined</th>
      <th>attributes_0</th>
      <th>id</th>
      <th>superclasses_0</th>
      <th>pos_0</th>
      <th>pos_1</th>
      <th>...</th>
      <th>subclasses_2</th>
      <th>subclasses_3</th>
      <th>subclasses_4</th>
      <th>subclasses_5</th>
      <th>subclasses_6</th>
      <th>subclasses_7</th>
      <th>subclasses_8</th>
      <th>union_0</th>
      <th>union_1</th>
      <th>attributes_1</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<p>0 rows × 22 columns</p>
</div>

In [71]:
df_class['children'] = df_class[df_class.columns[10:]].apply(lambda x: ','.join(x.dropna().astype(int).astype(str)), axis = 1)
df_class.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>iri</th>
      <th>baseiri</th>
      <th>instances</th>
      <th>label_iri_based</th>
      <th>label_undefined</th>
      <th>attributes_0</th>
      <th>id</th>
      <th>superclasses_0</th>
      <th>pos_0</th>
      <th>pos_1</th>
      <th>...</th>
      <th>subclasses_3</th>
      <th>subclasses_4</th>
      <th>subclasses_5</th>
      <th>subclasses_6</th>
      <th>subclasses_7</th>
      <th>subclasses_8</th>
      <th>union_0</th>
      <th>union_1</th>
      <th>attributes_1</th>
      <th>children</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<p>0 rows × 23 columns</p>
</div>

In [72]:
from neo4j.v1 import GraphDatabase, basic_auth

In [88]:
driver = GraphDatabase.driver('bolt://localhost:7687', auth=basic_auth('neo4j', 'iwate'))

In [89]:
def reset_db():
    '''Remove all nodes and relationships from the database'''
    session = driver.session()
    session.run('MATCH (n) DETACH DELETE n')

In [90]:
def create(query, n=0):
    '''Given a query, create a graph based on each triple in the extracted statements'''
    session = driver.session()
    stat = statements(data_qa1)
    n = len(stat) if n <= 0 else n
    for subject,relation,obj in stat[:n].extracted:
        session.run(query, subject=subject, relation=relation, obj=obj)

In [94]:
def create_try(query, df_class, n=0):
    session = driver.session()
    print("Sucess")
    len(df_class.index)
    n = len(df_class) if n <= 0 else n
    for index, row in df_class.iterrows():
        session.run(query, id=row['id'], name=row['name'])

In [95]:
v1_query = '''
    create (s:Entity {name: $name, id: $id}) 
'''

create_try(v1_query, df_class)

Sucess